import { Component, h, Prop } from '@stencil/core';

@Component({
  tag: '<%= tagName %>',
  styleUrl: '<%= componentFileName %>.css',
  shadow: false,
  scoped: true
})
export class <%= className %> {
  /**
   * The first name
   */
  @Prop() first: string;

  /**
   * The last name
   */
  @Prop() last: string;

  render() {
    return <div>Hello, World! I'm {this.first} {this.last}</div>;
  }
}
