import { Story } from '@storybook/angular';
import { <%= moduleName %>, <%= className %> } from '<%= libraryPath %>';

export default {
  title: 'Components/<%= className %>',
  component: <%= className %>,
};

const DefaultStory: Story<<%= className %>> = (args: <%= className %>) => ({
  component: <%= className %>,
  moduleMetadata: {
    imports: [%= moduleName %>],
  },
  props: args,
});

export const Default = DefaultStory.bind({});

Default.args = {};
